# 10. To Scrape Details of Datasets from UCI machine learning repositories.

In [1]:
# importing required libraries.
import pandas as pd
import selenium
import time

#importing Webdriver
from selenium import webdriver

#importing Exception Handling
from selenium.common.exceptions import NoSuchElementException
#importing keys
from selenium.webdriver.common.keys import Keys

In [2]:
#connecting the web driver.
driver=webdriver.Chrome(r'C:\Program Files (x86)\chromedriver_win32\chromedriver.exe')

In [3]:
#connecting the website.
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)

In [4]:
#clicking the viewall data-set button
viewall=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
viewall.click()

In [5]:
#creating the empty list
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
Year=[]

In [6]:
#creating data-set name list
name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in name:
    try:
        Dataset_name.append(i.text)
    except:
        Dataset_name.append("-")

In [7]:
#creating data type list
datatype=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in datatype:
    try:
        Data_type.append(i.text)
    except:
        Data_type.append("-")

In [8]:
#creating task list
task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in task:
    try:
        Task.append(i.text)
    except:
        Task.append("-")

In [9]:
#creating attribute type list
attribute_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in attribute_type:
    try:
        Attribute_type.append(i.text)
    except:
        Attribute_type.append("-")

In [10]:
#creating no of instance list
no_of_instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in no_of_instance:
    try:
        No_of_instances.append(i.text)
    except:
        No_of_instances.append("-")

In [11]:
#creating no of attributes list
no_of_attributes=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in no_of_attributes:
    try:
        No_of_attributes.append(i.text)
    except:
        No_of_attributes.append("-")

In [12]:
#creating year list
year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    try:
        Year.append(i.text)
    except:
        Year.append("-")

In [13]:
#deleting the title entry in all the list
Data_type.pop(0)
Task.pop(0)
Attribute_type.pop(0)
No_of_instances.pop(0)
No_of_attributes.pop(0)
Year.pop(0)

'Year'

In [14]:
#creating Data Frame
Details_of_Datasets=pd.DataFrame([])
Details_of_Datasets["Dataset_name"]=Dataset_name
Details_of_Datasets["Data_type"]=Data_type
Details_of_Datasets["Task"]=Task
Details_of_Datasets["Attribute_type"]=Attribute_type
Details_of_Datasets["No_of_instances"]=No_of_instances
Details_of_Datasets["No_of_attributes"]=No_of_attributes
Details_of_Datasets["Year"]=Year

In [15]:
#Data Frame
Details_of_Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021