# 8. To Scrape the details of Highest selling novels.

In [1]:
# importing required libraries.
import pandas as pd
import selenium
import time

#importing Webdriver
from selenium import webdriver

#importing Exception Handling
from selenium.common.exceptions import NoSuchElementException
#importing keys
from selenium.webdriver.common.keys import Keys

In [2]:
#connecting the web driver.
driver=webdriver.Chrome(r'C:\Program Files (x86)\chromedriver_win32\chromedriver.exe')

In [3]:
#connecting the website.
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
time.sleep(2)

In [4]:
#creating empty list
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [5]:
#creating book namelist
bookname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bookname:
    try:
        Book_Name.append(i.text)
    except:
        Book_Name.append("-")

In [6]:
#creating author name list
authorname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in authorname:
    try:
        Author_Name.append(i.text)
    except:
        Author_Name.append("-")

In [7]:
#creating volumes sold list
volumesold=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumesold:
    try:
        Volumes_Sold.append(i.text)
    except:
        Volumes_Sold.append("-")

In [8]:
#creating publisher list
publisher=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publisher:
    try:
        Publisher.append(i.text)
    except:
        Publisher.append("-")

In [9]:
#creating genre list
genre=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")

In [10]:
#creating Data Frame
Highest_selling_novels=pd.DataFrame([])
Highest_selling_novels["Book_Name"]=Book_Name
Highest_selling_novels["Author_Name"]=Author_Name
Highest_selling_novels["Volumes_Sold"]=Volumes_Sold
Highest_selling_novels["Publisher"]=Publisher
Highest_selling_novels["Genre"]=Genre

In [11]:
#Data Frame
Highest_selling_novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General